/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f6f8;
  color: #1a1a1a;
  line-height: 1.6;
}

/*parte do cabeçalho*/
/* Cabeçalho fixo no topo */
#cabecalho {
    background-color: #1A1A40;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
}

/* Layout interno do cabeçalho */
.container-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 30px;
    position: relative;
}

/* Logo */
.logo img {
    height: 60px;
}

/* Nome do site na esquerd */
#nome-site {
    position: absolute;
    left: 14%;
    transform: translateX(-50%);
    font-size: 1.8em;
    color: #ffffff;
    margin: 0;
}

/* Navegação */
#navegacao ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navegacao a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

#navegacao a:hover {
    color: #FF5733;
}



/*parte do rodape */
#rodape {
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza */
    text-align: center;
    padding: 20px 0;   
}

#rodape ol{
    list-style: none; /* remove a numeração */
    padding: 0;        /* tira espaço interno padrão */
    margin: 0;         /* tira espaço externo, se quiser */
}

#rodape {
    background-color: #1A1A40;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}


.lista-redes-socias {
    list-style: none;
    padding: 0;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.lista-redes-socias li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lista-redes-socias a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s ease;
}

.lista-redes-socias a:hover {
    color: #FF5733;
}

.lista-redes-socias img {
    width: 20px;
    height: 20px;
}

#rodape p {
    font-size: 14px;
    opacity: 0.8;
}
